{% extends "layout/layout.html" %}

{% block content %}
        <div class="container">
            <div class="intro-slideshow">
                <div class="slide slide-plan" style="background:url('/img/plans/minecraft-banner.jpg')">
                    <h1>Minecraft Servers</h1>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-sm-8">
                        <p class="focused">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, enim, quasi labore voluptate provident quas dolor fuga facilis ipsa natus in unde autem tempora iure ratione aut blanditiis. Unde, ad.</p>

                        <iframe width="100%" height="315" src="//www.youtube.com/embed/2YBtspm8j8M?rel=0" frameborder="0" allowfullscreen></iframe>

                        <div class="feature col-sm-6">
                            <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                        </div>
                        <div class="feature col-sm-6">
                            <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                        </div>
                        <a href="#" class="order-graphic"></a>
                    </div>
                    <div class="col-sm-4">
                        {{ include('layout/gaming-sidebar.html') }}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
{% endblock %}