{% extends "layout/layout.html" %}

{% block content %}
        <div class="container">
            <div class="intro-slideshow">
                <div class="slide" style="background-image: url('/img/slide-datacenter.jpg')">
                    
                </div>
            </div>
            <div class="content">
                <h1>Our Datacenters and Network</h1>
                <div class="row shaded-bar">
                    <div class="col-sm-8">
                        <ul class="icon-bar">
                            <li class="icon-bar-support">24/7 Support</li>
                            <li class="icon-bar-hardware">Insane Hardware</li>
                            <li class="icon-bar-secure">Secure Systems</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-light btn-block" href="{{ link.pages.about.contact }}">Contact Sales</a>
                    </div>
                </div>
                <br>
                <p class="center focused">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, eum ea assumenda aspernatur veniam reiciendis maiores fuga placeat repudiandae deserunt. Officia dicta ut asperiores quia modi quis similique cupiditate architecto.</p>
                <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, sed, error, in libero itaque omnis incidunt ut natus aperiam voluptatem non eius nisi ex deleniti minus repudiandae tempore facilis ab?</p>
                <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, expedita, ea laborum dolore sit voluptas fuga. Ratione, aliquam, consequatur omnis deleniti fuga modi quas dolor accusamus vel alias beatae laborum.</p>
            </div>
        </div>
        <div class="map">
            <div class="banner">
                <div class="banner-inner">
                    <div class="container">
                        Pellentesque mollis, diam eu euismod scelerisque, risus turpis placerat lectus, non porttitor tellus massa at ipsum. Cras sollicitudin eu justo quis aliquet. Aenean porta facilisis massa id condimentum. Aenean id orci eu urna suscipit accumsan. Pellentesque quis euismod nulla, in fermentum tellus.
                    </div>
                </div>
            </div>
        </div>
{% endblock %}