{% extends "layout/layout.html" %}

{% block content %}
        <div class="container">
            <div class="content">
                <h1>Features of <b>Ready</b>2<b>Frag</b></h1>
                <div class="feature col-sm-6">
                    <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                </div>
                <div class="feature col-sm-6">
                    <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                </div>
                <div class="feature col-sm-6">
                    <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                </div>
                <div class="feature col-sm-6">
                    <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                </div>
                <div class="feature col-sm-6">
                    <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                </div>
                <div class="feature col-sm-6">
                    <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                </div>
                <div class="feature col-sm-6">
                    <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                </div>
                <div class="feature col-sm-6">
                    <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
{% endblock %}