{% extends "layout/layout.html" %}

{% block content %}
        <div class="container">
            <div class="intro-slideshow">
                <div class="slide slide1">
                    <a href="{{ link.pages.game_servers }}">Game Server Plans</a>
                </div>
            </div>
            <div class="content">
                <div class="row shaded-bar">
                    <div class="col-sm-8">
                        <ul class="icon-bar">
                            <li class="icon-bar-support">24/7 Support</li>
                            <li class="icon-bar-hardware">Insane Hardware</li>
                            <li class="icon-bar-secure">Secure Systems</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-light btn-block" href="{{ link.pages.about.contact }}">Contact Sales</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="feature col-sm-6">
                            <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                        </div>
                        <div class="feature col-sm-6">
                            <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                        </div>
                        <div class="feature col-sm-6">
                            <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                        </div>
                        <div class="feature col-sm-6">
                            <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-4 service-button">
                            <a href="{{ link.pages.dedicated_servers }}">
                                <i class="fa fa-power-off"></i>
                                <h3>Dedicated Servers</h3>
                                <span>Configure</span>
                            </a>
                        </div>
                        <div class="col-sm-4 service-button">
                            <a href="{{ link.pages.game_servers }}">
                                <i class="fa fa-gamepad"></i>
                                <h3>Game Servers</h3>
                                <span>Plans</span>
                            </a>
                        </div>
                        <div class="col-sm-4 service-button">
                            <a href="{{ link.pages.vps }}">
                                <i class="fa fa-cloud"></i>
                                <h3>Virtual Private Servers</h3>
                                <span>Plans</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="testimonial">
                            <p>&quot;Integer fringilla interdum pharetra. Mauris ac felis dignissim metus feugiat tempor. Duis euismod tincidunt sapien, et lacinia tellus ultricies at.&quot;</p>
                            <span>Joe, <small>CraftMineNetworksCraft</small></span>
                        </div>
                        <div class="testimonial">
                            <p>&quot;Integer fringilla interdum pharetra. Mauris ac felis dignissim metus feugiat tempor. Duis euismod tincidunt sapien, et lacinia tellus ultricies at.&quot;</p>
                            <span>Joe, <small>CraftMineNetworksCraft</small></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="map">
            <div class="banner">
                <div class="banner-inner">
                    <div class="container">
                        Pellentesque mollis, diam eu euismod scelerisque, risus turpis placerat lectus, non porttitor tellus massa at ipsum. Cras sollicitudin eu justo quis aliquet. Aenean porta facilisis massa id condimentum. Aenean id orci eu urna suscipit accumsan. Pellentesque quis euismod nulla, in fermentum tellus.
                    </div>
                </div>
            </div>
        </div>
{% endblock %}