{% extends "layout/layout.html" %}

{% block content %}
        <div class="container">
            <div class="content content-nmt">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>Virtual Private Servers</h1>
                        <p class="focused">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, enim, quasi labore voluptate provident quas dolor fuga facilis ipsa natus in unde autem tempora iure ratione aut blanditiis. Unde, ad.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, eligendi, quas debitis sed enim voluptate nemo vero molestiae tenetur quos. Non, itaque deserunt modi ipsam officiis earum corporis quidem consequuntur.</p>

                        <table class="plantable">
                            <thead>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>OpenVZ VPS</td>
                                    <td>KVM VPS</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Storage</th>
                                    <td>SSD</td>
                                    <td>SSD</td>
                                </tr>
                                <tr>
                                    <th>Platform</th>
                                    <td>OpenVZ</td>
                                    <td>Kernel Virtual Machine</td>
                                </tr>
                                <tr class="price">
                                    <th>Price</th>
                                    <td>$8<small>/GB</small></td>
                                    <td>$11<small>/GB</small></td>
                                </tr>
                                <tr class="order">
                                    <th>&nbsp;</th>
                                    <td>
                                        <a class="btn btn-primary btn-block">Order</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-block">Order</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div class="feature col-sm-6">
                            <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                        </div>
                        <div class="feature col-sm-6">
                            <b><i class="fa fa-gear"></i> Lorem Ipsum</b>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum scelerisque ante, vel afermentum turpis malesuada in. Suspendisse facilisis auctor dolor, at blandit.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h3>Locations</h3>
                        <ul>
                            <li><span class="flag flag-us"></span> Chicago, USA</li>
                            <li><span class="flag flag-fr"></span> Zlin, France</li>
                            <li><span class="flag flag-sg"></span> Singapore</li>
                        </ul>
                        <h3>Testimonials</h3>
                        <div class="testimonial">
                            <p>&quot;Integer fringilla interdum pharetra. Mauris ac felis dignissim metus feugiat tempor. Duis euismod tincidunt sapien, et lacinia tellus ultricies at.&quot;</p>
                            <span>Joe, <small>CraftMineNetworksCraft</small></span>
                        </div>
                        <div class="testimonial">
                            <p>&quot;Integer fringilla interdum pharetra. Mauris ac felis dignissim metus feugiat tempor. Duis euismod tincidunt sapien, et lacinia tellus ultricies at.&quot;</p>
                            <span>Joe, <small>CraftMineNetworksCraft</small></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
{% endblock %}