                        <h3>Features</h3>
                        <ul class="iconed-list">
                            <li><i class="fa fa-gear"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptatum, totam.</li>
                            <li><i class="fa fa-gear"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptatum, totam.</li>
                            <li><i class="fa fa-gear"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptatum, totam.</li>
                            <li><i class="fa fa-gear"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptatum, totam.</li>
                            <li><i class="fa fa-gear"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptatum, totam.</li>
                            <li><i class="fa fa-gear"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptatum, totam.</li>
                        </ul>
                        <h3>Testimonials</h3>
                        <div class="testimonial">
                            <p>&quot;Integer fringilla interdum pharetra. Mauris ac felis dignissim metus feugiat tempor. Duis euismod tincidunt sapien, et lacinia tellus ultricies at.&quot;</p>
                            <span>Joe, <small>CraftMineNetworksCraft</small></span>
                        </div>
                        <div class="testimonial">
                            <p>&quot;Integer fringilla interdum pharetra. Mauris ac felis dignissim metus feugiat tempor. Duis euismod tincidunt sapien, et lacinia tellus ultricies at.&quot;</p>
                            <span>Joe, <small>CraftMineNetworksCraft</small></span>
                        </div>